.composition_wrapper {
  width: auto;
  background: white;
  padding: 25px;
  margin: 25px;
  color: #002243
}

.composition_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 0.5em;
  margin: 10px;
  flex-wrap: wrap
}

.composition_wrapper > #composition_subtitle {
  text-align: left;
  font-size: 0.5em;
  color: #002243;
}

.composition_wrapper > #composition_title {
  text-align: center;
  font-size: 0.5em;
  color: #002243;
}

.composition_container > .usd_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: flex-start;
  margin: 10px;
}

.composition_container > .sgd_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: flex-start;
  margin: 10px;
}

.composition_container > .sgd_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: flex-start;
  margin: 10px;
}

.composition_container > .eur_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: flex-start;
  margin: 10px;
}

.composition_container > .jpy_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: flex-start;
  margin: 10px;
}

.composition_container > .others_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: flex-start;
  margin: 10px;
}

.composition_usd_box {
  width: 10px;
  height: 10px;
  background: green;
  padding: 2px;
  margin-right: 5px;
  align-self: flex-start;
}

.composition_sgd_box {
  width: 10px;
  height: 10px;
  background: orange;
  margin-right: 5px;
  padding: 2px;
}

.composition_eur_box {
  width: 10px;
  height: 10px;
  background: lightgreen;
  margin-right: 5px;
  padding: 2px;
}

.composition_jpy_box {
  width: 10px;
  height: 10px;
  background: royalblue;
  margin-right: 5px;
  padding: 2px;
}

.composition_others_box {
  width: 10px;
  height: 10px;
  background: yellow;
  margin-right: 5px;
  padding: 2px;
}
